:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-footer-and-hero-color: #2f303a;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --black-color: #000000;
  --button-background-color: #f5f4fa;
  --primary-background-color: #e5e5e5;
}

body {
  margin: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Container */

.container {
  width: 1230px;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  
}

.list {
  list-style: none;

  margin: 0;
  padding: 0;
}

/* Header */

.section-head {
  background-color: var(--white-color);

  padding-right: 215px;
  padding-left: 215px;
}

/* logo */

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-second {
  color: var(--black-color);
}

.logo-bottom {
  margin-bottom: 20px;
}

.logo-third {
  color: var(--white-color);
  margin-bottom: 20px;
}

/* nav */

.site-nav .nav {
  color: var(--title-text-color);
}

/* contacts */

.contacts .link {
  color: var(--primary-text-color);
}

/* nav and contacts */

.site-nav .nav,
.contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* nav and contacts hover and focus */

.site-nav .nav:hover,
.site-nav .nav:focus,
.site-nav .nav.current,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* main index.html */
/* hero */

.hero {
  background-color: var(--background-footer-and-hero-color);
  
  padding: 200px 452px;
  text-align: center;
  
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}

/* button */

.hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  background-color: var(--accent-color);
  color: var(--white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* sections */

.section{
  padding: 94px 215px 0px 215px;
}

.works{
  padding: 94px 215px
}

.team-section {
  background-color: var(--button-background-color);

  padding: 94px 215px;
}

/* title */

.section-title {
  margin: 0;
  margin-bottom: 50px;


  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title {
  margin: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

p{
  margin: 0;
}

.name {
  margin: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
}

.name,
.prof {
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
}

/* footer */

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;

  background-color: var(--background-footer-and-hero-color);
}

.address-list {
  color: var(--white-color);
  font-style: normal;
}

.address-list .ad-res {
  color: var(--contacts-footer-color);

  text-decoration: none;
}

.address-list .ad-res:hover,
.address-list .ad-res:focus {
  color: var(--accent-color);
}

/* main portfolio.html */
/* buttons */

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;

  background-color: var(--button-background-color);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* portfolio */

.project {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.sort {
  font-size: 16px;
  line-height: 1.87;
}
